*, select optgroup option {
    font-size: 40pt;
    font-family: Helvetica; Arial; sans serif;
    -webkit-appearance: none;
}

button {
    margin-top: 0.5em;
    text-align: center;
}

.titel {
    font-size: 200%;
}

#content div {
    text-align: center;
    vertical-align: middle;
}

#wort {
    width: 20em;
    font-size: 180%;
    text-align: center;
}

#auswahl, #spiel, #ergebnis, #neu {
    display: none;
}