body {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}
/*
*, select optgroup option {
    -webkit-appearance: none;
    font-size: 40pt;
    font-family: Helvetica; Arial; sans serif;
}
*/

.settingsForm {
    font-size: 20px;
}

button {
    margin-top: 0.5em;
    text-align: center;
}

select optgroup option {
    transform: scale(3);
    -webkit-transform: scale(3);
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
    vertical-align: top;
    position: relative;
    top: 0.5em;
    margin-right: 0.1em;
    *overflow: hidden;
    transform: scale(3);
    -webkit-transform: scale(3);
}

.titel {
    font-size: 200%;
}

#content div {
    text-align: center;
    vertical-align: middle;
}

#wort {
    width: 20em;
    font-size: 180%;
    text-align: center;
}

#auswahl, #spiel, #ergebnis, #neu {
    display: none;
}

#progress {
    width: 100%;
    position: absolute;
    top: 0;
}

@keyframes fromzerotohero {
  from {width: 0%;}
  to {width: 100%;}
}

#progress .inner {
    background: green;
    height: 12px;
    width: 0%;
}

#progress .inner.animation {
  animation-name: fromzerotohero;
  animation-duration: 4s;
  animation-timing-function: linear;
}

